@model Tikkit_SolpacWeb.Models.Users

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-action="ChangePassword">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label>
        <input asp-for="CurrentPassword" type="password" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>
</form>