@model Tikkit_SolpacWeb.Models.Users


<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerID" class="control-label">Công ty</label>
                <select asp-for="PartnerID" class="form-control">
                    <option value="">Công ty</option>
                    @foreach (var partners in ViewBag.Partners)
                    {
                        <option value="@partners.PartnerID">@partners.Name</option>
                    }
                </select>
                <span asp-validation-for="PartnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label">Giới tính</label>
                <select asp-for="Sex" class="form-control">
                    <option value="Male">Nam</option>
                    <option value="Female">Nữ</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Số điện thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @if (ViewBag.UserRole == "Admin")
            {
                <div class="form-group">
                    <label asp-for="Role" class="control-label">Nhóm người dùng</label>
                    <select asp-for="Role" class="form-control">
                        <option value="Admin">Admin</option>
                        <option value="Staff">Staff</option>
                        <option value="Client">Client</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Role" />
            }
            @if (ViewBag.UserRole == "Admin")
            {
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Trạng thái</label>
                    <select asp-for="Status" class="form-control">
                        <option value="Working">Working</option>
                        <option value="Stopped">Stopped</option>
                    </select>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="Status" />
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.UserRole == "Admin")
{
    <div>
        <a asp-action="Index">Back to list</a>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
