@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h2>Quên mật khẩu</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div class="form-group">
                <label for="email" class="control-label">Email:</label>
                <input type="email" id="email" name="Email" class="form-control" required />
                <span class="text-danger">@Html.ValidationMessage("Email")</span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lấy mật khẩu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
