@model Tikkit_SolpacWeb.Models.Requests

<div>
        <form asp-action="EditforStaff">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestNo" />

            <div class="form-group">
                <label asp-for="RequestDate" class="control-label"></label>
                <input asp-for="RequestDate" class="form-control" />
                <span asp-validation-for="RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestPerson" class="control-label"></label>
                <input asp-for="RequestPerson" class="form-control" />
                <span asp-validation-for="RequestPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partner" class="control-label"></label>
                <input asp-for="Partner" class="form-control" />
                <span asp-validation-for="Partner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectOfRequest" class="control-label"></label>
                <input asp-for="SubjectOfRequest" class="form-control" />
                <span asp-validation-for="SubjectOfRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentsOfRequest" class="control-label"></label>
                <textarea asp-for="ContentsOfRequest" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ContentsOfRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-control">
                    <option value="Normal">Normal</option>
                    <option value="Urgent">Urgent</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
