@model Tikkit_SolpacWeb.Models.Requests


<div>
        <form asp-action="StaffResponse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestNo" />
            @if (Model.Status == "Pending")
            {
                <div class="form-group">
                    <label asp-for="ExpectedDate" class="control-label"></label>
                    <input asp-for="ExpectedDate" class="form-control" />
                    <span asp-validation-for="ExpectedDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportContent" class="control-label"></label>
                <textarea asp-for="SupportContent" class="form-control" rows="4"></textarea>
                <span asp-validation-for="SupportContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}