@model Tikkit_SolpacWeb.Models.RequestsCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo yêu cầu mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.UserRole != "Client")
            {
                <div class="form-group">
                    <label asp-for="RequestPersonID" class="control-label">Người yêu cầu</label>
                    <select asp-for="RequestPersonID" class="form-control">
                        <option value="">Người yêu cầu</option>
                        @foreach (var user in ViewBag.Users)
                        {
                            <option value="@user.ID">@user.Name (@user.Partner)</option>
                        }
                    </select>
                    <span asp-validation-for="RequestPersonID" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <input asp-for="RequestPersonID" type="hidden" value="@ViewBag.UserID" />
                </div>
            }
            
            <div class="form-group">
                <label asp-for="Project" class="control-label">Dự án</label>
                <select id="Project" name="Project" class="form-control">
                    <option value="">Chọn dự án</option>
                </select>
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectOfRequest" class="control-label">Tiêu đề</label>
                <input asp-for="SubjectOfRequest" class="form-control" />
                <span asp-validation-for="SubjectOfRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentsOfRequest" class="control-label">Nội dung yêu cầu</label>
                <textarea asp-for="ContentsOfRequest" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ContentsOfRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Hình ảnh (Nếu có)</label>
                <input type="file" asp-for="ImagePath" id="ImagePath" class="form-control" accept="image/*" />
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label">Mức ưu tiên</label>
                <select asp-for="Priority" class="form-control">
                    <option value="Normal">Thông thường</option>
                    <option value="Urgent">Khẩn cấp</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PartnerID").change(function () {
            var partnerId = $(this).val();

            $.get("/RequestsController/GetProjects", { partnerId: partnerId }, function (data) {
                var projectSelect = $("#Project");

                projectSelect.empty();

                $.each(data, function (index, project) {
                    projectSelect.append('<option value="' + project.id + '">' + project.name + '</option>');
                });
            });
        });
    });
</script>